.buttonAlgo{
    border-radius: 15px !important; 
    width: 70px;
}

#timeQuantum{
  width: 80px;
}

.gantt-container {
    border:1px solid #ccc;
    padding:5px;
    margin-top:20px;
}
.gantt-block {
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff;
    margin-right:2px;
}
.gantt-time {
    text-align:center;
    font-size:10px;
    width:30px;
    margin-right:2px;
}
.queue {
    margin-bottom: 10px;
}
.queue-content {
    display: flex;
    gap: 5px;
    min-height: 40px;
}
.queue-block {
    width: 40px;
    height: 40px;
    background-color: #17a2b8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
}


